{% extends "admin/admin_base.html" %}

{% block content %}
    <div class="container my-5">

        <h2 class="mb-5 text-center">Редактирование товара</h2>

        <form action="/admin/edit_product/{{ product_id }}" method="POST" class="d-flex flex-column" enctype="multipart/form-data">
            {{ form.csrf_token() }}

            {% for field in form if field.name != "csrf_token" %}
                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-3"></div>
                    {{ field.label(class_="col-2 form-label mb-0 text-end") }}
                    <div class="col-3">
                        {{ field(class_="form-control") }}
                    </div>
                    <div class="col-4"></div>
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary add-btn mx-auto mt-3">Добавить</button>
        </form>
    </div>
{% endblock %}