{% extends "admin/admin_base.html" %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center flex-column">

    <h2>Вход в админ панель</h2>

    <form action="/admin/login" id="admin-login" method="POST" class="d-flex flex-column">
        {{ form.csrf_token }}

        {% for field in form if field.name != "csrf_token" %}
        <div class="mb-3">
            {% if field.name != "remember" %}
                <label class="form-label">{{ field.label() }}</label>
                {{ field(class_="form-control") }}
            {% else %}
                <label class="form-check-label">{{ field.label() }}</label>
                {{ field(class_="form-check-input") }}
            {% endif %}

            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>

</div>
{% endblock %}