{% extends "admin/admin_base.html" %}

{% block content %}
    <div class="container py-4">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{ url_for('index') }}">На главную</a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{ url_for('admin.logout') }}">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>Панель администрирования</h1>
        <hr>
        <div class="row pt-2">
            <div class="col-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="bi bi-list-ul size-60"></i>
                            </div>
                            <div class="col-9 text-end">
                                <div class="fs-1">{{ products_count }}</div>
                                <div>Товары</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('admin.admin', slug='products') }}" class="text-decoration-none">
                        <div class="card-footer bg-light d-flex justify-content-between">
                            <span>Посмотреть детали</span>
                            <span><i class="bi bi-arrow-right-circle"></i></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="bi bi-person-lines-fill size-60"></i>
                            </div>
                            <div class="col-9 text-end">
                                <div class="fs-1">{{ users_count }}</div>
                                <div>Пользователи</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('admin.admin', slug='users') }}" class="text-decoration-none">
                        <div class="card-footer bg-light text-success d-flex justify-content-between">
                            <span>Посмотреть детали</span>
                            <span><i class="bi bi-arrow-right-circle"></i></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-light-orange text-white">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <i class="bi bi-cart2 size-60"></i>
                            </div>
                            <div class="col-9 text-end">
                                <div class="fs-1">{{ orders_count }}</div>
                                <div>Заказы</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('admin.admin', slug='orders') }}" class="text-decoration-none">
                        <div class="card-footer bg-light text-light-orange d-flex justify-content-between">
                            <span>Посмотреть детали</span>
                            <span><i class="bi bi-arrow-right-circle"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="my-4">
                    {% if products %}
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div>
                                <i class="bi bi-bar-chart-line"></i> Список товаров
                            </div>
                            <div>
                                <a href="{{ url_for('admin.add_product') }}" class="btn btn-primary">Добавить товар</a>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Название</th>
                                                <th>Память</th>
                                                <th>Цена</th>
                                                <th>Производитель</th>
                                                <th>Редактировать</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for product in products %}
                                                <tr>
                                                    <td>{{ product.id }}</td>
                                                    <td>
                                                        <a href="{{ url_for('show_product', product_id=product.id) }}"
                                                           class="product-link">
                                                            {{ product.name }}
                                                        </a>
                                                    </td>
                                                    <td>{{ product.storage_capacity }}</td>
                                                    <td>{{ product.price }}</td>
                                                    {% if product.category == 1 %}
                                                        <td>Apple</td>
                                                    {% elif product.category == 2 %}
                                                        <td>Samsung</td>
                                                    {% elif product.category == 3 %}
                                                        <td>Xiaomi</td>
                                                    {% else %}
                                                        <td>Ошибка</td>
                                                    {% endif %}
                                                    <td>
                                                        <a href="{{ url_for('admin.edit_product', product_id=product.id) }}"
                                                           class="link-dark product-edit-link">
                                                            <div>
                                                                <span class="">Редактировать</span>
                                                                <span class="pull-right">
                                                                    <i class="bi bi-arrow-right-circle"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                    {% if users %}
                        <div class="mb-3">
                            <i class="bi bi-bar-chart-line"></i> Список пользователей
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Имя</th>
                                                <th>Фамилия</th>
                                                <th>Возраст</th>
                                                <th>Почта</th>
                                                <th>Телефон</th>
                                                <th>Адрес доставки</th>
                                                <th>Админ</th>
                                                <th>Дата создания</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td>{{ user.id }}</td>
                                                    <td>{{ user.name }}</td>
                                                    {% if user.profile.surname %}
                                                        <td>{{ user.profile.surname }}</td>
                                                    {% else %}
                                                        <td>Не задано</td>
                                                    {% endif %}
                                                    {% if user.profile.age %}
                                                        <td>{{ user.profile.age }}</td>
                                                    {% else %}
                                                        <td>Не задано</td>
                                                    {% endif %}
                                                    <td>{{ user.email }}</td>
                                                    {% if user.profile.mobile_phone %}
                                                        <td>{{ user.profile.mobile_phone }}</td>
                                                    {% else %}
                                                        <td>Не задано</td>
                                                    {% endif %}
                                                    {% if user.profile.delivery_address %}
                                                        <td>{{ user.profile.delivery_address }}</td>
                                                    {% else %}
                                                        <td>Не задано</td>
                                                    {% endif %}
                                                    {% if user.is_admin %}
                                                        <td>Да</td>
                                                    {% else %}
                                                        <td>Нет</td>
                                                    {% endif %}
                                                    <td>{{ user.date }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                    {% if orders %}
                        <div class="mb-3">
                            <i class="bi bi-bar-chart-line"></i> Список заказов
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Имя заказчика</th>
                                                <th>Название товара</th>
                                                <th>Количество товара</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in orders %}
                                                <tr>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ user_name(order.order_id) }}</td>
                                                    <td>{{ product_name(order.product_id) }}</td>
                                                    <td>{{ order.quantity }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}