{% extends "auth/auth_base.html" %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center flex-column">

    <h2>Регистрация</h2>

    <form action="/auth/register" method="POST" class="d-flex flex-column">
        {{ form.csrf_token() }}

        {% for field in form if field.name != "csrf_token" %}
        <div class="mb-3">
            <label class="form-label">{{ field.label() }}</label>
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зарегистироваться</button>
    </form>

</div>
{% endblock %}