ul {
    list-style: none;
    padding-left: 0;
}

.alert {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5px;
    padding: 5px 40px 5px 15px;
}

#btn-close {
    padding: 0;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
}

.linebreak-parent {
    position: relative;
}

.linebreak::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.55);
    top: 11px;
    right: -1px;
}

.profile {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.profile-info {
    padding-left: 0;
    list-style: none;
}

.profile-info_item {
    font-size: 20px;
    margin-bottom: 15px;
}

.edit-item {
    margin-bottom: 19px;
}

.product-container {
    width: 870px;
}

.product-specs li {
    margin-top: 8px;
}

.product-specs-1 {
    font-weight: 600;
}

.product-specs-1 li {
    border-bottom: 1px dotted #000;
}

.product-specs-2 li {
    border-bottom: 1px dotted #fff;
}

.product-link,
.product-link:hover {
    text-decoration: none;
    color: #000;
}

.product-link:hover .card-title {
    text-decoration: underline;
}

.product-card {
    width: 400px;
    margin-right: 50px;
}

.product-header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background-color: #000;
}

.product-price {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

.product-img {
    width: 320px;
}

.product-pagination {
    padding-right: 250px;
}

.quantity {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}

.card-text {
    font-size: 20px;
}

.categories {
    margin-left: 180px;
}

.categories::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 455px;
    bottom: -5px;
    left: 197px;
    background-color: #000;
}

.categories-index::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 275px;
    bottom: -5px;
    left: 197px;
    background-color: #000;
}

.categories .nav-item {
    font-size: 22px;
}

.categories .nav-item:hover {
    text-decoration: underline;
}

.cart-icon {
    margin-left: 25px;
}

.cart-quantity {
    left: -7px;
    top: 20px;
}

.order textarea {
    resize: none;
}