.admin-login {
    width: 300px;
}

.error {
    color: red;
}

.alert {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5px;
    padding: 5px 40px 5px 15px;
}

#btn-close {
    padding: 0;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
}

.bg-light-orange {
    background-color: rgba(253, 126, 20, 0.9);
}

.text-light-orange {
    color: rgba(253, 126, 20, 0.9);
}

.size-60 {
    font-size: 60px;
}

.product-edit-link {
    text-decoration: none;
}

.product-edit-link:hover {
    text-decoration: underline;
}

.add-btn {
    width: 200px;
}

.product-link {
    color: #000;
    text-decoration: none;
}

.product-link:hover {
    color: #000;
    text-decoration: underline;
}