{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="position-relative">
            <ul class="nav categories mt-4">
                <li class="nav-item">
                    <a class="nav-link active link-dark" href="{{ url_for('index') }}">Все категории</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link active link-dark" aria-current="page" href="{{ url_for('category', cat_id=category.id) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-center flex-wrap pt-4 pb-4">
            {% for product in products %}
                {% if product.category == cat_id %}
                    <a href="{{ url_for('show_product', product_id=product.id) }}" class="product-link">
                        <div class="card mb-5 product-card border-0">
                            <div class="row g-0">
                                <div class="col-4">
                                    <img src="{{ url_for('static', filename=product.product_img) }}" class="img-fluid rounded-start" alt="Картинка">
                                </div>
                                <div class="col-8 d-flex flex-column">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <p class="card-text">{{ product.price }}&#8381</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
