{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2>Редактирование профиля</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row profile">
                <div class="col-4">
                    <ul class="profile-info">
                        <li class="profile-info_item edit-item">Имя</li>
                        <li class="profile-info_item edit-item">Фамилия</li>
                        <li class="profile-info_item edit-item">Почта</li>
                        <li class="profile-info_item edit-item">Возраст</li>
                        <li class="profile-info_item edit-item">Мобильный телефон</li>
                        <li class="profile-info_item edit-item">Адрес доставки</li>
                    </ul>
                </div>
                <div class="col-8">
                    <ul class="profile-info">
                        <li class="profile-info_item">{{ current_user.name }}</li>
                        <li class="profile-info_item">{{ form.surname }}</li>
                        <li class="profile-info_item">{{ current_user.email }}</li>
                        <li class="profile-info_item">{{ form.email }}</li>
                        <li class="profile-info_item">{{ form.age }}</li>
                        <li class="profile-info_item">{{ form.mobile_phone }}</li>
                        <li class="profile-info_item">{{ form.delivery_address }}</li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Редактировать</button>
        </form>
    </div>
{% endblock %}