{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="position-relative">
            <ul class="nav categories categories-index mt-4">
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link active link-dark" aria-current="page"
                           href="{{ url_for('category', cat_id=category.id) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-center flex-wrap pt-4 pb-4">
            {% for product in products.items %}
                <a href="{{ url_for('show_product', product_id=product.id) }}" class="product-link">
                    <div class="card mb-5 product-card border-0">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="{{ url_for('static', filename=product.product_img) }}" class="img-fluid rounded-start" alt="Картинка">
                            </div>
                            <div class="col-8 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <p class="card-text">{{ product.price }}&#8381</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="product-pagination">
            <div class="text-end">
                <a href="{{ url_for('index', page=products.prev_num) }}"
                   class="btn btn-outline-dark {% if products.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if products.page == page_num %}
                            <a href="{{ url_for('index', page=page_num) }}"
                               class="btn btn-dark">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('index', page=page_num) }}"
                               class="btn btn-outline-dark">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                <a href="{{ url_for('index', page=products.next_num) }}"
                   class="btn btn-outline-dark {% if products.page == products.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
            <p class="text-end mt-3">
                Showing page {{ products.page }} of {{ products.pages }}
            </p>
        </div>
    </div>

{% endblock %}