{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div id="orders">
            <h1 class="txt-heading">Ваши заказы</h1>
            {% if current_user.orders %}
            <table class="tbl-cart table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Объем памяти</th>
                    <th>Количество</th>
                    <th>Цена за шт.</th>
                    <th>Общая цена</th>
                </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.storage_capacity }}</td>
                        <td>{{ products[product] }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.price * products[product] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                У вас нет заказов..
            {% endif %}
        </div>
    </div>
{% endblock %}