{% extends 'base.html' %}

{% block content %}
    <div class="product-container py-4 my-4 mx-auto d-flex flex-column">
        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1>{{ product.name }}</h1>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-5">
                    <img src="{{ url_for('static', filename=product.product_img) }}" class="img-fluid product-img" alt="Картинка">
                </div>
                <div class="col-7 p-0">
                    <div class="position-relative">
                        <h4 class="product-header">Характеристики товара</h4>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <ul class="product-specs product-specs-1">
                                <li>Производитель:</li>
                                <li>Модель процессора:</li>
                                <li>Диагональ экрана (дюйм):</li>
                                <li>Тип экрана</li>
                                <li>Фронтальная камера (Мп):</li>
                                <li>Основная камера (Мп):</li>
                                <li>Оперативная память (Гб):</li>
                                <li>Физическая память (Гб):</li>
                                <li>Емкость аккумулятора (mAh)</li>
                                <li>ОС:</li>
                                <li>Вес (гр)</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="product-specs product-specs-2">
                                {% if product.category == 1 %}
                                    <li>Apple</li>
                                {% elif product.category == 2 %}
                                    <li>Samsung</li>
                                {% else %}
                                    <li>Xiaomi</li>
                                {% endif %}
                                <li>{{ product.processor }}</li>
                                <li>{{ product.screen_size }}</li>
                                <li>{{ product.display }}</li>
                                <li>{{ product.selfie_camera_resolution }}</li>
                                <li>{{ product.camera_resolution }}</li>
                                <li>{{ product.ram }}</li>
                                <li>{{ product.storage_capacity }}</li>
                                <li>{{ product.battery }}</li>
                                <li>{{ product.operating_system }}</li>
                                <li>{{ product.weight }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-description small">{{ product.description }}</div>
                    <div class="product-price">{{ product.price }} руб.</div>
                </div>
            </div>
        </div>
        <div class="footer d-flex flex-column mt-3">
            <div class="row">
                <div class="col"></div>
                <div class="col-7 p-0">
                    <form action="/add" method="post" class="d-flex">
                        <select class="quantity mx-1" name="quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="btn btn-outline-dark mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Добавить в корзину
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}