{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2>Профиль пользователя</h2>
        <div class="row profile">
            <div class="col-4">
                <ul class="profile-info">
                    <li class="profile-info_item">Имя</li>
                    <li class="profile-info_item">Фамилия</li>
                    <li class="profile-info_item">Почта</li>
                    <li class="profile-info_item">Возраст</li>
                    <li class="profile-info_item">Мобильный телефон</li>
                    <li class="profile-info_item">Адрес доставки</li>
                </ul>
            </div>
            <div class="col-8">
                <ul class="profile-info">
                    <li class="profile-info_item">{{ current_user.name }}</li>
                    {% if profile.surname %}
                        <li class="profile-info_item">{{ profile.surname }}</li>
                    {% else %}
                        <li class="profile-info_item">Не задано</li>
                    {% endif %}
                    <li class="profile-info_item">{{ current_user.email }}</li>
                    {% if profile.age %}
                        <li class="profile-info_item">{{ profile.age }}</li>
                    {% else %}
                        <li class="profile-info_item">Не задано</li>
                    {% endif %}
                    {% if profile.mobile_phone %}
                        <li class="profile-info_item">{{ profile.mobile_phone }}</li>
                    {% else %}
                        <li class="profile-info_item">Не задано</li>
                    {% endif %}
                    {% if profile.delivery_address %}
                        <li class="profile-info_item">{{ profile.delivery_address }}</li>
                    {% else %}
                        <li class="profile-info_item">Не задано</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <a type="submit" class="btn btn-dark mt-3" href="{{ url_for('edit_profile') }}">Редактировать</a>
    </div>
{% endblock %}
