{% extends 'base.html' %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div id="shopping-cart">
            <h1 class="txt-heading">Корзина</h1>
            {% if 'cart_item' in session %}
                {% if session.all_total_price != 0 %}
                    <table class="tbl-cart table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Объем памяти</th>
                            <th>Количество</th>
                            <th>Цена за шт.</th>
                            <th>Общая цена</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, val in session['cart_item'].items() %}
                            {% set quantity = session['cart_item'][key]['quantity'] %}
                            {% set price = session['cart_item'][key]['price'] %}
                            {% set item_price = session['cart_item'][key]['total_price'] %}
                            <tr>
                                <td>{{ session['cart_item'][key]['name'] }}</td>
                                <td>{{ session['cart_item'][key]['storage_capacity'] }}</td>
                                <td>{{ quantity }}</td>
                                <td>{{ price }}&#8381</td>
                                <td>{{ item_price }}&#8381</td>
                                <td>
                                    <a href="{{ url_for('delete_product', code=session['cart_item'][key]['id']) }}"
                                       class="btnRemoveAction">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor"
                                             class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                                                  fill="black"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                                                  fill="black"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="align-middle">
                            <td colspan="2">Общее:</td>
                            <td>{{ session['all_total_quantity'] }}</td>
                            <td></td>
                            <td><strong>{{ session['all_total_price'] }}&#8381</strong></td>
                            <td>
                                <form action="{{ url_for('shopping_cart') }}" method="post">
                                    <button type="sumbit" class="btn btn-outline-dark">Оформить</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="no-records">У вас в корзине пусто..</div>
                {% endif %}
            {% else: %}
                <div class="no-records">У вас в корзине пусто..</div>
            {% endif %}
        </div>
    </div>
{% endblock %}