form {
    width: 300px;
}

.error {
    color: red;
}

.alert {
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5px;
    padding: 5px 40px 5px 15px;
}

#btn-close {
    padding: 0;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
}